# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Test cache
.pytest_cache/

# Build artefacts
*.egg-info/
build/
dist/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/

*.pyc
*.pyo
*.pyd
TEMP/
TEMP